<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Attendees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" *ngIf="event">

  <ion-button *ngIf="event.attend" expand="block" color="danger" (click)="attendance()">
    <!-- <ion-icon name="thumbs-down" slot="start"></ion-icon> -->
    <ion-label>Not Attend - ({{event.numAttend}})</ion-label>
    <ion-icon name="people"></ion-icon>
  </ion-button>
  <ion-button *ngIf="!event.attend" expand="block" color="success" (click)="attendance()">
    <!-- <ion-icon name="thumbs-up" slot="start"></ion-icon> -->
    <ion-label>Attend - ({{event.numAttend}}) </ion-label>
    <ion-icon name="people"></ion-icon>
  </ion-button>

  <ion-list id="attendees-list" lines="none">
    <ion-card *ngFor="let attendee of attendees">
      <ion-item>
        <ion-avatar slot="start">
          <img [routerLink]="['/profile', attendee.id]" [src]="attendee.avatar">
        </ion-avatar>
        <ion-label text-wrap>
          <h4 [routerLink]="['/profile', attendee.id]">{{attendee.name}}</h4>
          <p>{{attendee.email}}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>

</ion-content>
