ion-textarea {
  min-height: 100px;
}


ion-card {
  width: 100%;
  text-align: center;
  margin: 0 !important;
  box-shadow: none !important;
  border-top: 1px solid rgb(204, 204, 204);
}

ion-list {
  border-bottom: 1px solid rgb(204, 204, 204);
}

#text {
  margin-bottom: 15px;
}
