<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" [routerLink]="['/event-form']" [routerDirection]="'root'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list id="event-list">
    <ion-card *ngFor="let event of events">
      <img [routerLink]="['/event-details', event.id]" [routerDirection]="'forward'" [src]="event.image"/>
      <ion-card-header>
        <ion-card-title [routerLink]="['/event-details', event.id]" [routerDirection]="'forward'">{{event.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{event.description}}
      </ion-card-content>
      <ion-item color="light">
        <ion-avatar slot="start">
          <img [routerLink]="['/profile', event.creator.id]" [src]="event.creator.avatar">
        </ion-avatar>
        <ion-label text-wrap>
          <h4 [routerLink]="['/profile', event.creator.id]">{{event.creator.name}}</h4>
          <p>{{event.date | date:'dd/MM/y'}}</p>
        </ion-label>
        <ion-label slot="end" fill="clear">
          <p>{{event.price | currency:'EUR':'symbol'}}</p>
          <p>{{event.distance | number: '1.2-2'}} km</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>

</ion-content>
