<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Edit Avatar</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">

  <form #editAvatarForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="inset">Avatar</ion-label>
        <ion-button color="secondary" (click)="takePhoto()">
          <ion-icon name="camera" slot="start"></ion-icon>
          Camera
        </ion-button>
        <ion-button color="tertiary" (click)="pickFromGallery()">
          <ion-icon name="images" slot="start"></ion-icon>
          Gallery
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-img [src]="updatedAvatar" *ngIf="updatedAvatar"></ion-img>
    <ion-button color="tertiary" expand="block" (click)="updateAvatar()" [disabled]="editAvatarForm.invalid || !updatedAvatar">
      <ion-label>Edit</ion-label>
    </ion-button>
  </form>

</ion-content>
