<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Edit Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #editPasswordForm="ngForm">
    <ion-list>
      <div ngModelGroup="passGroup" #passGroupModel="ngModelGroup" appMatch="password,password2">
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" name="password" minlength="4" required [(ngModel)]="updatedPassword" #passModel="ngModel"></ion-input>
          <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="passModel.dirty && passModel.valid"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Repeat Password</ion-label>
          <ion-input type="password" name="password2" required [(ngModel)]="updatedPassword2" #passModel2="ngModel" pattern="{{ passModel.value }}"></ion-input>
          <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="passModel2.dirty && passGroupModel.valid"></ion-icon>
        </ion-item>
      </div>
    </ion-list>
    <ion-button color="tertiary" expand="block" (click)="editPassword()" [disabled]="editPasswordForm.invalid || editPasswordForm.pristine">
      <ion-label>Edit</ion-label>
    </ion-button>
  </form>
</ion-content>
